# Node modules directory
node_modules

# Logs
*.log
npm-debug.log*

# Directory for test files
test/
__tests__/

# Temporary files and directories
tmp/
temp/
*.tmp
*.temp

# Build output
dist/
build/

# Configuration files for various tools
.vscode/
.env